/*
This is the CSS code for my website.

Makes it easier to update.
*/

body, 
p.msoNormal /* We have to have this here, other wise IE wont work properly, not that it ever has. */
li.msoNormal /* Stupid IE!*/
{ 
background-position: top left; 
background-repeat: repeat-y;
margin-left: 9em;
margin-top: 0em;
margin-bottom: 0em;
}

hr /* Selected colour for the horizontal rule. */
{
color: #CCCCCC;
width: 776px;
float: center; 
/* 
Grate, I added this code in, and it works! That is, in every other browser except IE.

DAM YOU BILL GATES!!!!!

DAM YOU TO HELL!
*/
}

/* make a nice looking table for my blog. */
table.blog
{
border-style: solid;
border-width: 1px;
border-collapse: collapse;
color: #000001;
}
td /* Indent the cells so that they are easier to read. */
{
padding-left: 10pt;
padding-bottom: 5pt; 
/* 
Because Internet explorer is such a bad web browser, we need to 
indent the bottom of the cell; other wise IE won’t render a space in between them, and it will look bad. 
*/
}
/*
Why cant the CSS syntax support C style comments? you know //this is a one lined comment. 
*/